<%- include('./layouts/header') %>

<h1 class="title">Role Based Access Control</h1>
<div class="tutorial-info">
  <ol class="tutorial-info">
    <li><b>Express JS </b></li>
    <li><b>EJS</b> templating engine</li>
    <li>
      <b>Styling — </b>custom CSS (you can use any like Bootstrap, Bulma,
      Tailwind, etc...)
    </li>
    <li><b> PassportJS </b>local authentication(email, password)</li>
    <li><b>Roles</b> (admin, moderator, client)</li>
    <li><b>Authorization</b> (admin, moderator and user routes)</li>
    <li><b>This is the Test task for WTF Digital Technologies Pvt Ltd</li>
    
  </ol>
</div>

<%- include('./layouts/footer') %>
